@import url("bootstrap-astropy.css");

*{
    font-family: sans-serif;
}

div.topbar a.brand {
  background: transparent url("astronify-CIRCLE.png") no-repeat 10px 4px;
  background-image: url("astronify-CIRCLE.png"), none;
  background-size: 32px 32px;
}



.logo{
    height: 120px;
    width:120px;
    margin-left:auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-top: 15px;
    
}

.intro{
    color: aqua;
}

.heading{
    color: #0D4960;
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;

}

