name: CI

on:
  push:
    branches:
    - main
    - "**"
    tags:
  pull_request:
    branches:
    - main

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:

          - name: Python 3.9.xx with minimal dependencies 
            os: ubuntu-latest 
            python: 3.9.21 
            toxenv: py39-test 

          - name: Python 3.9.xx with all optional dependencies 
            os: ubuntu-latest 
            python: 3.9.21 
            toxenv: py39-test-alldeps 
            toxargs: -v --develop 
            toxposargs: -W error::ResourceWarning 

          - name: Python 3.9.xx with numpy 1.24 and full coverage 
            os: ubuntu-latest 
            python: 3.9.21
            toxenv: py39-test-alldeps-numpy124-cov 

          - name: Python 3.10.xx with minimal dependencies 
            os: ubuntu-latest
            python: 3.10.16
            toxenv: py310-test

          - name: Python 3.10.xx with all optional dependencies 
            os: ubuntu-latest 
            python: 3.10.16
            toxenv: py310-test-alldeps 
            toxargs: -v --develop 
            toxposargs: -W error::ResourceWarning 

          - name: Python 3.10.xx with numpy 1.24 and full coverage 
            os: ubuntu-latest 
            python: 3.10.16
            toxenv: py310-test-alldeps-numpy124-cov 

          - name: Python 3.10.xx with numpy 2.10 and full coverage 
            os: ubuntu-latest 
            python: 3.10.16
            toxenv: py310-test-alldeps-numpy210-cov 

          - name: Python 3.11.xx with minimal dependencies 
            os: ubuntu-latest 
            python: 3.11.11 
            toxenv: py311-test 

          - name: Python 3.11.xx with all optional dependencies 
            os: ubuntu-latest 
            python: 3.11.11 
            toxenv: py311-test-alldeps 
            toxargs: -v --develop 
            toxposargs: -W error::ResourceWarning 

          - name: Python 3.11.xx with numpy 1.24 and full coverage 
            os: ubuntu-latest 
            python: 3.11.11 
            toxenv: py311-test-alldeps-numpy124-cov 

          - name: Python 3.11.xx with numpy 2.10 and full coverage 
            os: ubuntu-latest 
            python: 3.11.11 
            toxenv: py311-test-alldeps-numpy210-cov 

          - name: Python 3.12.xx with minimal dependencies 
            os: ubuntu-latest 
            python: 3.12.8
            toxenv: py312-test 

          - name: Python 3.12.xx with all optional dependencies 
            os: ubuntu-latest 
            python: 3.12.8
            toxenv: py312-test-alldeps 
            toxargs: -v --develop 
            toxposargs: -W error::ResourceWarning 

          - name: Python 3.12.xx with numpy 2.10 and full coverage 
            os: ubuntu-latest 
            python: 3.12.8
            toxenv: py312-test-alldeps-numpy210-cov 

    steps:
    - name: Checkout code
      uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493  # v4.2.0
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install pyo dependencies
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get install portaudio19-dev libsndfile1-dev libportmidi-dev liblo-dev
    - name: Install Python dependencies
      run: python -m pip install --upgrade tox codecov sphinx_rtd_theme
    - name: Run tests
      run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
    - name: Upload coverage to codecov
      if: ${{ contains(matrix.toxenv,'-cov') }}
      uses: codecov/codecov-action@fdcc8476540edceab3de004e990f80d881c6cc00  # v5.5.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  allowed_failures:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:

          - name: (Allowed Failure) Python 3.11 with dev version of key dependencies
            os: ubuntu-latest
            python: 3.11
            toxenv: py311-test-devdeps

    steps:
    - name: Checkout code
      uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493  # v4.2.0
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install pyo dependencies
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get install portaudio19-dev libsndfile1-dev libportmidi-dev liblo-dev
    - name: Install Python dependencies
      run: python -m pip install --upgrade tox codecov sphinx_rtd_theme
    - name: Run tests
      run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
